Orchestrate Severless Workflows/stepFunction.json
{
  "Comment": "State machine with parallel analysis, moderation, queue, and DynamoDB",
  "StartAt": "Parallel State",
  "States": {
    "Parallel State": {
      "Type": "Parallel",
      "ResultPath": "$.analysis",
      "Branches": [
        {
          "StartAt": "EvaluateImageContent",
          "States": {
            "EvaluateImageContent": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:220435133874:function:rekognition_helper",
              "End": true,
              "InputPath": "$.s3_info",
              "ResultPath": "$.result.image_analysis",
              "OutputPath": "$.result"
            }
          }
        },
        {
          "StartAt": "EvaluateMessageContent",
          "States": {
            "EvaluateMessageContent": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:220435133874:function:comprehend_helper",
              "End": true,
              "InputPath": "$.message",
              "ResultPath": "$.result.message_analysis",
              "OutputPath": "$.result"
            }
          }
        }
      ],
      "Next": "ModerateOrNotModerate"
    },

    "ModerateOrNotModerate": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.analysis[0].image_analysis.safe_content",
              "BooleanEquals": false
            },
            {
              "Variable": "$.analysis[1].message_analysis.sentiment",
              "StringEquals": "NEGATIVE"
            },
            {
              "Variable": "$.analysis[1].message_analysis.sentiment",
              "StringEquals": "NEUTRAL"
            },
            {
              "Variable": "$.analysis[1].message_analysis.sentiment",
              "StringEquals": "MIXED"
            }
          ],
          "Next": "DoSomeModeration"
        }
      ],
      "Default": "ShowComment"
    },

    "DoSomeModeration": {
      "Type": "Pass",
      "Next": "IntoDynamoDB"
    },

    "ShowComment": {
      "Type": "Pass",
      "Next": "SendToQueue"
    },

    "SendToQueue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Next": "IntoDynamoDB",
      "OutputPath": "$",
      "ResultPath": "$.queue_response",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/220435133874/Queue",
        "MessageBody.$": "$"
      }
    },

    "IntoDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "comments",
        "Item": {
          "id": { "S.$": "$$.Execution.Name" },
          "comment": { "S.$": "$.message.content" },
          "bucket": { "S.$": "$.s3_info.bucket" },
          "key": { "S.$": "$.s3_info.key" },
          "safe_content": { "BOOL.$": "$.analysis[0].image_analysis.safe_content" },
          "sentiment": { "S.$": "$.analysis[1].message_analysis.sentiment" }
        }
      },
      "End": true
    }
  }
}
